.home {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #dee3e3;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logIn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #a6a6a6;
  color: white;
  border: 2px solid #dee3e3;
  padding: 14px 30px;
  font-size: medium;
  border-radius: 10px;
}

.footer {
  color: white;
  background-color: #a6a6a6;
  padding-top: 55px;
  padding-bottom: 55px;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  text-align: center;
  font-size: xx-large;
}
