.formContainer {
  display: flex;
  flex-direction: row;

  background-color: #dee3e3;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
}
.panelContainer {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background-color: #dee3e3;
  align-items: center;
  flex-direction: column;

  font-family: Forum;
}

.modButton {
  background-color: #405353;
  border: 2px solid #405353;
  padding: 5px 15px;
  color: white;
  font-size: large;
  border-radius: 10px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  margin: 10px;
}
.searchButton {
  background-color: #405353;
  border: 2px solid #405353;
  padding: 5px 15px;
  color: white;
  font-size: medium;
  border-radius: 10px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  margin: 10px;
}
.form {
  align-items: left;
}

.form-group {
  display: flex;
  background-color: #dee3e3;
  align-items: center;
  flex-direction: column;
}
.notifications {
  margin-right: 25px;
}
.notificationsleft {
  margin-left: 25px;
}
